* {
margin: 0px;
padding: 0px;
}

@media only screen and (max-width: 800px) {

nav {
width: 100%;
background-color: #F2D64B;
}

.navli {
list-style-type: none;
}

.navul {
display: flex;
flex-direction: row;
}

.nava {
color: #979DA6;
text-decoration: none;
}

}
